h1{
	font-family: georgia, serif;
	font-size: 30px;
	font-weight: bold;
    color: #006600;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #006600;
    text-transform: uppercase;
	text-align: center;
}

h2{
		text-align:center;
		border-bottom-style:dotted;
		}

h3{
	font-family: georgia, serif;
	font-size: 18px;
	font-weight: normal;
    letter-spacing: 1.2px;
    color: #009900;
}

h4{
		text-align:center;
		font-size:25px;
		}
		
h5{
		text-align:justify;
		font-family: impact;
		font-size: 25px;
		margin: 25px;
		}

p{
	font-family: verdana;
	font-size: 15px;
	color: #555555;
	letter-spacing: .25px;
	line-height: 1.5;
	}

body{
		background-image: url("ForestPicture.jpg");
		margin: 40px;
}

.div1{
		background-color: lightgray;
		margin: 100px;
		padding-left: 20px;
		padding-right: 20px;
}

ul{
		list-style-type:none;
		margin: 0;
		padding:0;
		background-color:#00ff00;
		overflow: hidden;
		border: 2px solid black;
		}

li{
		float: left;
	}

li a{ 
		display: block;
		color: black;
		text-align: center;
		text-decoration:none;
		padding: 14px 16px;
		
	}

li a:hover:not(.active){
	background-color:#4dff4d;
	}

.active{
		background-color:#006600;
		}